<div class="block-catalogue__item">
  <a class="block-catalogue__link block-catalogue__link-pos1" title="" href="#">
    {{ content.field_image_list_img }}
    <span class="block-catalogue__square"></span>
    <span class="block-catalogue__item-title">{{ content.field_image_list_legend }}</span>
  </a>
</div>
