<div class="home-inspirations__block amenager">
  {{ content.field_colored_image }}
  <div class="home-inspirations__figure">
    <div class="home-inspirations__caption">
      <h3>{{ content.field_block_title }}</h3>
      <p>{{ content.field_sous_titre }}</p>
    </div>
    <a class="diamond-btn" href="{{ content.field_block_link.0['#url'] }}"><span>Découvrir</span></a>
  </div>
</div>
